html, body { height: 100%; }

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FFAE;
    background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
    background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
  width: 90%;
}

img {
  width: 100%;
}

#square {
  display: none;
}

#player {
  width: 100%;
}

#transport {
  display: flex;
  visibility: none;
  justify-content: center;
  margin-top: 15%;

  font-weight: 500;
  font-size: xx-large;
  font-family: Roboto,sans-serif;
  color: #55606e;
}

#transport > div {
  visibility: hidden;
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#date {
  font-weight: 600;
  font-size: xx-large;
  font-family: Roboto,sans-serif;
  color: #55606e;
}

@media (orientation: landscape) {
  main {
    width: 300px;
  }
}